<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <style>
    .button {
      background-color: white;
      color: black;
      border: 2px solid #252525; /* Green */
      width:auto;
      height:auto;
      padding:5px;
      display: inline-block;
      font-size: large;
      transition-duration: 0.4s;
    }
    .button:hover{
      background-color: rgb(141, 141, 141);
      color: black;
      border: 2px solid #252525; /* Green */
      width:auto;
      height:auto;
      padding:5px;
      display: inline-block;
      font-size: large;
      transition-duration: 0.4s;
    }
    .select{
      display: inline-block;
      margin:2px;
      padding:2px;
      width:auto;
      height:auto;
      border:1px solid #000;
      background-color: rgb(101, 117, 112);
    }
    .norm{
      display: inline-block;
      margin:2px;
      padding:2px;
      width:auto;
      height:auto;
      border:1px solid #000;
      background-color: aquamarine;
    }
    
  </style>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container" id="main">
  <div id="del" class="button">Delete Selected User</div>
<h2>Database Results</h2>
<% rows.forEach(function(r) { %>
<div class="norm" id= <%=r.uid%> >User ID:<%= r.uid %><br> User Name:<%= r.name%><br>Chess Elo: <%= r.chess_elo%></div>
<% }); %>
</div>
<script type="text/javascript" src="./script.js"></script>

</body>
</html>
