<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <style>
    .box{
      display: inline-block;
      margin:2px;
      padding:2px;
      width:auto;
      height:auto;
      border:1px solid #000;
    }
  </style>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>
<% rows.forEach(function(r) { %>
<div class="box"><%= r.uid %><br><%= r.name%><br><%= r.chess_elo%></div>
<% }); %>
</div>
</body>
</html>
