<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/st.css" />

 <p3>User Not Found, redirecting to the main page</p3>
<script type="text/javascript" src="./script.js"></script>

</body>
</html>
